
venv/*
/app/__pycache__/__init__.cpython-36.pyc
/app/routes/__pycache__/routes.cpython-36.pyc
/config/.env
/config/__pycache__/__init__.cpython-36.pyc
/config/__pycache__/config.cpython-36.pyc
/app/models/__pycache__/base.cpython-36.pyc
/app/models/__pycache__/t_data_sets.cpython-36.pyc
/app/models/__pycache__/t_data_sets_utils.cpython-36.pyc
/app/models/__pycache__/t_example_utils.cpython-36.pyc
/app/models/__pycache__/t_examples.cpython-36.pyc
/app/tasks/__pycache__/random_generators.cpython-36.pyc
/app/tasks/__pycache__/sigmoid.cpython-36.pyc
/app/models/__pycache__/t_data_set.cpython-36.pyc
/app/models/__pycache__/t_example.cpython-36.pyc
/app/models/__pycache__/t_simple_net.cpython-36.pyc
/app/models/__pycache__/t_simple_net_utils.cpython-36.pyc
